<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="/static/favicon.jpg">

</head>

<body>
    <div class="topcorner">
        <p><b>{{ name }}</b> created by: {{ netid }}</p>
    </div>
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Palatino; color: #222222">
            C<span style="display:inline-block;">
                <img src="/static/logo.png" width="30px" height="30px"></img>
            </span>urse4me
        </h1>

        <br>
        <h3 style="font-size: 25px; font-family:Palatino ; color: #B31B1B">
            Find your next favorite class
        </h3><br><br>

        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control"
                placeholder="Input course keyword (eg: information reteival)">
        </div>
        <button type=" submit" class="btn btn-info"> Search </button>
    </form>
    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for entry in data %}
        <br>
        <p><b> {{ loop.index }}.</b></p>
        <p><b>{{entry[0]}}</b></p>
        <p><b>Course Description:</b> {{entry[1]}}</p>
        <p><b>Score:</b> {{entry[2]}}</p>
        <br>
        {% endfor %}
        {% endif %}
    </form>
</body>

</html>