<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.combobox').combobox();

            // bonus: add a placeholder
            $('.combobox').attr('placeholder', 'Class you enjoyed (ex: CS 4300)');
        });

    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.8/css/bootstrap-combobox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.8/js/bootstrap-combobox.min.js"></script>
    <!-- <link rel="icon" href="/static/favicon.jpg"> -->
</head>

<body>
    <title>Course4Me</title>
    <div class="topcorner">
        <p style="color: white"><a href="https://github.com/brd62/cs4300sp2020-brd62-mjw286-ser259-jl3358"
                target="_blank"><b style="color: #B31B1B">{{ name }}</b></a> created by: {{ netid }}</p>
    </div>
    <div class="container justify-content-center">
        <div class="col">
            <h1 id="title">
                C<span style="display:inline-block;">
                    <img src="/static/logo.png" width="40px" height="40px"></img>
                </span>urse4me
            </h1>
        </div>
        <div class="col">
            <h3 id="slogan">
                Find your next favorite class
            </h3>
        </div>
    </div>
    </br>


    <form>
        <div class="container">
            <div class="row">
                <div class="col mb-2">
                    <input id="keyword_input" type="text" name="keyword_search" class="form-control"
                        placeholder="Course keyword (ex: information retrieval)">
                </div>
                <!-- <div class="col mb-2">
                        <input id="professor_input" type="text" name="professor_search" class="form-control"
                        placeholder="Professor you enjoyed (ex: Prof DNM)">
                    </div> -->
                <div class="col mb-2">
                    <select name="class_search" class="combobox form-control">
                        <option value=""></option>
                        {% for class_name in classes_list %}
                        <option value="{{class_name}}">{{class_name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn btn-info mb-2" id="searchButton"> Search </button>
            </div>
            <div class="collapse" id="advanceSearch" style="margin-top:20px">
                <div class="row">

                    <div class="col mb-2">
                        <label for="class_level_search" style="color: #B31B1B">Class level</label>
                        <select id="class_level_input" name="class_level_search" class="form-control form-control-lg">
                            <option value=""></option>
                            <option value="1000,2999">1000-2000</option>
                            <option value="2000,3999">2000-3000</option>
                            <option value="3000,4999">3000-4000</option>
                            <option value="4000,9999">4000+</option>
                        </select>
                    </div>
                    <div class="col mb-2">
                        <label for="semester_search" style="color: #B31B1B">Semester offered</label>
                        <select id="semester_input" name="semester_search" class="form-control form-control-lg">
                            <option value=""></option>
                            <option value="Fall">Fall</option>
                            <option value="Spring">Spring</option>
                        </select>
                    </div>
                    <div class="col mb-2">
                        <label for="major_search" style="color: #B31B1B">Majors</label>
                        <select id="major_input" name="major_search" class="form-control form-control-lg">
                            <option value=""></option>
                            {% for major in majors_list %}
                            <option value="{{major}}">{{major}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row center collapse" style="justify-content: center; display: flex">
                <a style="color: #B31B1B" id="advancedSearchButton" data-toggle="collapse" href="#advanceSearch"
                    aria-expanded="false" aria-controls="advanceSearch" style="color: #B31B1B">
                    Filtered Search </a>
            </div>
        </div>

        <!-- <form class="form-inline global-search"> -->
        <div class="container ">
            <div class="row">
                <div class="col text-center">
                    <h1 style="color: white">{{output_message}}</span></h1>
                    <br>
                </div>
            </div>
            {% if suggestions %}
            <div class="row text-center">
                <div class="col text-center">
                    <p style="color: white">Additional search keywords:
                        {% for word in suggestions %}
                        <button name="suggestion_search"
                            value="{{ogKeyword_query}} {{word}}^{{ogClassLevel_query}}^{{ogSemester_query}}^{{ogMajor_query}}"
                            class=" btn btn-link" style="color:#B31B1B">{{word}}</button>
                        {% endfor %}
                    </P>
                </div>
            </div>
            {% endif %}

            {% if data %}
            <div class="card-deck" id="accordionExample">
                <div class="container">
                    {% for entry in data %}
                    <div class="row">
                        <div class="card text-left bg-light border-dark" style="margin:5px">
                            <div class="card-header shadow" id="headingThree">
                                <h2 class="course-title">
                                    <a class="btn btn-link" data-toggle="collapse" href="[id='{{entry[0]}}']"
                                        role="button" aria-expanded="false" aria-controls="{{entry[0]}}"
                                        style="color: #B31B1B">
                                        {{entry[0]}}
                                    </a>
                                </h2>
                                <label class="checkbox-label relevant">
                                  <input name="radiobox-{{entry[6]}}" value="relevant-{{entry[6]}}" type="radio">
                                  <span class="checkbox-custom">✓ Relevant</span>
                                </label>
                                <label class="checkbox-label irrelevant">
                                  <input name="radiobox-{{entry[6]}}" value="irrelevant-{{entry[6]}}" type="radio">
                                  <span class="checkbox-custom">X Irrelevant</span>
                                </label>
                            </div>
                            <div class="collapse" id="{{entry[0]}}">
                                <div class="card-body">
                                    {% if entry[3] %}
                                    {% for professor in entry[3] %}
                                    <p><b>Instructor:</b> {{professor}}</p><br>
                                    {% if entry[3][professor] %}
                                    {% for tag in entry[3][professor] %}
                                    <span class="badge badge-info" style="background-color:#B31B1B">{{tag}}</span>
                                    {% endfor %}
                                    <br>
                                    {% endif %}
                                    <br>
                                    {% endfor %}
                                    {%else%}
                                    <p><b>No instructor listed</b></p><br><br>
                                    {% endif %}
                                    {% if entry[4]%}
                                    <p><b>Semesters offered:</b></p>
                                    {% for sem in entry[4]%}
                                    <span class="badge badge-info" style="background-color:#B31B1B">{{sem}}</span>
                                    {% endfor %}
                                    {% endif %}
                                    <br><br>
                                    <p><b>Class Description:</b> {{entry[1]}}</p>
                                    <br><br>
                                    <a target="_blank" href="{{entry[5]}}">Class roster link</a>

                                </div>
                            </div>
                            <!-- </br> -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-info mb-2" name="rocchio_update_query" value="{{ogKeyword_query}}"> Update Rocchio </button>
            {% endif %}
        </div>
    </form>
</body>

</html>