<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.combobox').combobox();

            // bonus: add a placeholder
            $('.combobox').attr('placeholder', 'Class you enjoyed (ex: CS 4300)');
        });

    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.8/css/bootstrap-combobox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.8/js/bootstrap-combobox.min.js"></script>
    <!-- <link rel="icon" href="/static/favicon.jpg"> -->
</head>

<body>
    <div class="topcorner">
        <p style="color: white"><b style="color: #B31B1B">{{ name }}</b> created by: {{ netid }}</p>
    </div>
    <div class="container justify-content-center">
        <div class="col">
            <h1 id="title">
                C<span style="display:inline-block;">
                    <img src="/static/logo.png" width="40px" height="40px"></img>
                </span>urse4me
            </h1>
        </div>
        <div class="col">
            <h3 id="slogan">
                Find your next favorite class
            </h3>
        </div>
    </div>
    </br>

    <div class="container">
        <form>
            <div class="row">
                <div class="col mb-2">
                    <input id="keyword_input" type="text" name="keyword_search" class="form-control"
                        placeholder="Course keyword (ex: information reteival)">
                </div>
                <!-- <div class="col mb-2">
                    <input id="professor_input" type="text" name="professor_search" class="form-control"
                        placeholder="Professor you enjoyed (ex: Prof DNM)">
                </div> -->
                <div class="col mb-2">
                    <select name="class_search" class="combobox form-control">
                        <option value=""></option>
                        {% for class_name in classes_list %}
                        <option value="{{class_name}}">{{class_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-info mb-2" id="searchButton"> Search </button>
            </div>
        </form>
    </div>

    <form class="form-inline global-search">
        <div class="container">
            <h1 style="color: white">{{output_message}}</h1>
            <br>
            {% if suggestions %}
            <div class="row">
                <div class="mb-2">
                    <p style="color: white">Additional search keywords: </P>
                </div>
                {% for word in suggestions %}
                <div class="mb-2">
                    <button type="button" class="btn btn-link" style="color:#B31B1B">{{word}}</button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if data %}
            <div class="card-deck container" id="accordionExample">
                {% for entry in data %}
                <div class="card text-left bg-light border-dark">
                    <div class="card-header" id="headingThree">
                        <h2>
                            <a class="btn btn-link" data-toggle="collapse" href="[id='{{entry[0]}}']" role="button"
                                aria-expanded="false" aria-controls="{{entry[0]}}" style="color: #B31B1B">
                                {{entry[0]}}
                            </a>
                        </h2>
                    </div>
                    <div class="collapse" id="{{entry[0]}}">
                        <div class="card-body">
                            {% if entry[3] %}
                            {% for professor in entry[3] %}
                            <p><b>Instructor:</b> {{professor}}</p><br>
                            {% if entry[3][professor] %}
                            <!-- <p><b>Instructor tags:</b></p> -->
                            {% for tag in entry[3][professor] %}
                            <span class="badge badge-info" style="background-color:#B31B1B">{{tag}}</span>
                            {% endfor %}
                            <br>
                            {% endif %}
                            <br>
                            {% endfor %}
                            {%else%}
                            <p><b>No instructor listed</b></p><br><br>
                            {% endif %}
                            {% if entry[4]%}
                            <p><b>Semesters offered:</b></p>
                            {% for sem in entry[4]%}
                            <span class="badge badge-info" style="background-color:#B31B1B">{{sem}}</span>
                            {% endfor %}
                            {% endif %}
                            <br><br>
                            <p><b>Class Description:</b> {{entry[1]}}</p>
                            <br><br>
                            <a target="_blank" href="{{entry[5]}}">Class roseter link</a>

                        </div>
                    </div>
                    </br>
                    <!-- <p style="font-family:Palatino" class="card-text">{{entry[1]}}</p> -->
                    <!-- <h3><b>{{ loop.index }}. {{entry[0]}}</b></h3><br>
                    <p><b>Course Description:</b> {{entry[1]}}</p><br> -->
                    <!-- <p><b>Instructor:</b> {{entry[2]}}</p><br> -->
                    <!-- </div> -->
                </div>
                {% endfor %}
                {% endif %}
            </div>
    </form>
</body>

</html>